%h1 HAML view with mixed partials
%section
  %h2 ERB partial:
  = render partial: "pages/erb/card"
%section
  %h2 Slim partial:
  = render partial: "pages/slim/card"
%section
  %h2 HAML partial:
  = render partial: "pages/haml/card"
