<!DOCTYPE html>
<html>
<head>
  <title>Temple Devtools Dummy</title>
</head>
<body>
<nav style="padding:10px;background:#f0f0f0;margin-bottom:20px">
  <strong>Engine:</strong>
  <a href="/haml">HAML</a> |
  <a href="/slim">Slim</a> |
  <a href="/erb">ERB</a> ||
  <a href="/haml/partial">HAML partial</a> |
  <a href="/slim/partial">Slim partial</a> |
  <a href="/erb/partial">ERB partial</a> ||
  <a href="/haml/component">HAML component</a> ||
  <a href="/haml/mixed">HAML mixed</a> |
  <a href="/slim/mixed">Slim mixed</a> |
  <a href="/erb/mixed">ERB mixed</a>
</nav>
<%= yield %>
</body>
</html>
