<h1>ERB view with mixed partials</h1>
<section>
  <h2>HAML partial:</h2>
  <%= render partial: "pages/haml/card" %>
</section>
<section>
  <h2>Slim partial:</h2>
  <%= render partial: "pages/slim/card" %>
</section>
<section>
  <h2>ERB partial:</h2>
  <%= render partial: "pages/erb/card" %>
</section>
